<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>grids</key>
	<array>
		<dict>
			<key>name</key>
			<string>2x3</string>
			<key>slots</key>
			<array>
				<dict>
					<key>rect</key>
					<dict>
						<key>origin</key>
						<dict>
							<key>x</key>
							<real>0</real>
							<key>y</key>
							<real>0</real>
						</dict>
						<key>size</key>
						<dict>
							<key>height</key>
							<real>0.33</real>
							<key>width</key>
							<real>0.5</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>rect</key>
					<dict>
						<key>origin</key>
						<dict>
							<key>x</key>
							<real>0.5</real>
							<key>y</key>
							<real>0</real>
						</dict>
						<key>size</key>
						<dict>
							<key>height</key>
							<real>0.33</real>
							<key>width</key>
							<real>0.5</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>rect</key>
					<dict>
						<key>origin</key>
						<dict>
							<key>x</key>
							<integer>0</integer>
							<key>y</key>
							<real>0.33</real>
						</dict>
						<key>size</key>
						<dict>
							<key>height</key>
							<real>0.34</real>
							<key>width</key>
							<real>0.5</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>rect</key>
					<dict>
						<key>origin</key>
						<dict>
							<key>x</key>
							<real>0.5</real>
							<key>y</key>
							<real>0.33</real>
						</dict>
						<key>size</key>
						<dict>
							<key>height</key>
							<real>0.34</real>
							<key>width</key>
							<real>0.5</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>rect</key>
					<dict>
						<key>origin</key>
						<dict>
							<key>x</key>
							<real>0</real>
							<key>y</key>
							<real>0.67</real>
						</dict>
						<key>size</key>
						<dict>
							<key>height</key>
							<real>0.33</real>
							<key>width</key>
							<real>0.5</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>rect</key>
					<dict>
						<key>origin</key>
						<dict>
							<key>x</key>
							<real>0.5</real>
							<key>y</key>
							<real>0.67</real>
						</dict>
						<key>size</key>
						<dict>
							<key>height</key>
							<real>0.33</real>
							<key>width</key>
							<real>0.5</real>
						</dict>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
