<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>grids</key>
	<array>
		<dict>
			<key>name</key>
			<string>2x2</string>
			<key>slots</key>
			<array>
				<dict>
					<key>rect</key>
					<dict>
						<key>origin</key>
						<dict>
							<key>x</key>
							<real>0</real>
							<key>y</key>
							<real>0</real>
						</dict>
						<key>size</key>
						<dict>
							<key>height</key>
							<real>0.5</real>
							<key>width</key>
							<real>0.5</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>rect</key>
					<dict>
						<key>origin</key>
						<dict>
							<key>x</key>
							<real>0.5</real>
							<key>y</key>
							<real>0</real>
						</dict>
						<key>size</key>
						<dict>
							<key>height</key>
							<real>0.5</real>
							<key>width</key>
							<real>0.5</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>rect</key>
					<dict>
						<key>origin</key>
						<dict>
							<key>x</key>
							<real>0</real>
							<key>y</key>
							<real>0.5</real>
						</dict>
						<key>size</key>
						<dict>
							<key>height</key>
							<real>0.5</real>
							<key>width</key>
							<real>0.5</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>rect</key>
					<dict>
						<key>origin</key>
						<dict>
							<key>x</key>
							<real>0.5</real>
							<key>y</key>
							<real>0.5</real>
						</dict>
						<key>size</key>
						<dict>
							<key>height</key>
							<real>0.5</real>
							<key>width</key>
							<real>0.5</real>
						</dict>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>1x4</string>
			<key>slots</key>
			<array>
				<string>{{0,0}, {1,0.25}}</string>
				<string>{{0,0.25}, {1,0.25}}</string>
				<string>{{0,0.5}, {1,0.25}}</string>
				<string>{{0,0.75}, {1,0.25}}</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>1 top + 3 bottom</string>
			<key>slots</key>
			<array>
				<dict>
					<key>rect</key>
					<dict>
						<key>origin</key>
						<dict>
							<key>x</key>
							<real>0</real>
							<key>y</key>
							<real>0</real>
						</dict>
						<key>size</key>
						<dict>
							<key>height</key>
							<real>0.33</real>
							<key>width</key>
							<real>1</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>rect</key>
					<dict>
						<key>origin</key>
						<dict>
							<key>x</key>
							<real>0</real>
							<key>y</key>
							<real>0.33</real>
						</dict>
						<key>size</key>
						<dict>
							<key>height</key>
							<real>0.67</real>
							<key>width</key>
							<real>0.33</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>rect</key>
					<dict>
						<key>origin</key>
						<dict>
							<key>x</key>
							<real>0.33</real>
							<key>y</key>
							<real>0.33</real>
						</dict>
						<key>size</key>
						<dict>
							<key>height</key>
							<real>0.67</real>
							<key>width</key>
							<real>0.34</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>rect</key>
					<dict>
						<key>origin</key>
						<dict>
							<key>x</key>
							<real>0.67</real>
							<key>y</key>
							<real>0.33</real>
						</dict>
						<key>size</key>
						<dict>
							<key>height</key>
							<real>0.67</real>
							<key>width</key>
							<real>0.33</real>
						</dict>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>3 top + 1 bottom</string>
			<key>slots</key>
			<array>
				<dict>
					<key>rect</key>
					<dict>
						<key>origin</key>
						<dict>
							<key>x</key>
							<real>0</real>
							<key>y</key>
							<real>0</real>
						</dict>
						<key>size</key>
						<dict>
							<key>height</key>
							<real>0.66</real>
							<key>width</key>
							<real>0.33</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>rect</key>
					<dict>
						<key>origin</key>
						<dict>
							<key>x</key>
							<real>0.33</real>
							<key>y</key>
							<real>0</real>
						</dict>
						<key>size</key>
						<dict>
							<key>height</key>
							<real>0.66</real>
							<key>width</key>
							<real>0.34</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>rect</key>
					<dict>
						<key>origin</key>
						<dict>
							<key>x</key>
							<real>0.67</real>
							<key>y</key>
							<real>0</real>
						</dict>
						<key>size</key>
						<dict>
							<key>height</key>
							<real>0.66</real>
							<key>width</key>
							<real>0.33</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>rect</key>
					<dict>
						<key>origin</key>
						<dict>
							<key>x</key>
							<real>0</real>
							<key>y</key>
							<real>0.66</real>
						</dict>
						<key>size</key>
						<dict>
							<key>height</key>
							<real>0.34</real>
							<key>width</key>
							<integer>1</integer>
						</dict>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
